---
- block:
    - name: Install goenv
      shell: anyenv install goenv
      args:
        creates: ~/.anyenv/envs/goenv/bin/goenv
      changed_when: false

    - name: reload fish
      shell: source ~/.config/fish/config.fish
      changed_when: false

  tags: goenv_install

- block:
    - name: Install go
      shell: goenv install {{ item }}
      args:
        creates: '~/.anyenv/envs/goenv/versions/{{ item }}'
      with_items:
        - '{{ go_versions }}'
      changed_when: false
      # TODO rehashつける？

    - name: Set global go version
      shell: goenv global {{ global_go_version }}
      changed_when: false

  tags: go_install